<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">

                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <mat-icon>create</mat-icon> Pregunta 1
          </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="form-group input-group">
                    <textarea class="form-control" id="question1" placeholder="Pregunta #1" rows="2"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 1" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Valor</label>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 2" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch2">
                        <label class="custom-control-label" for="customSwitch2">Valor</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 3" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3">
                        <label class="custom-control-label" for="customSwitch3">Valor</label>
                    </div>
                </div>
                <span> <small class="text-muted">No olvides seleccionar la respuesta correcta*</small></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <mat-icon>create</mat-icon>Pregunta 2
          </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="form-group input-group">
                    <textarea class="form-control" id="question2" placeholder="Pregunta #2" rows="2"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 1" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch4">
                            <label class="custom-control-label" for="customSwitch4">Valor</label>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 2" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5">
                        <label class="custom-control-label" for="customSwitch5">Valor</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 3" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch6">
                        <label class="custom-control-label" for="customSwitch6">Valor</label>
                    </div>
                </div>
                <span> <small class="text-muted">No olvides seleccionar la respuesta correcta*</small></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <mat-icon>create</mat-icon>Pregunta 3
          </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" id="question3" placeholder="Pregunta #3" rows="2"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 1" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch7">
                            <label class="custom-control-label" for="customSwitch7">Valor</label>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 2" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch8">
                        <label class="custom-control-label" for="customSwitch8">Valor</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 3" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch9">
                        <label class="custom-control-label" for="customSwitch9">Valor</label>
                    </div>
                </div>
                <span> <small class="text-muted">No olvides seleccionar la respuesta correcta*</small></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFor">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                    <mat-icon>create</mat-icon>Pregunta 4
          </button>
            </h2>
        </div>
        <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" id="question4" placeholder="Pregunta #4" rows="2"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 1" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch10">
                            <label class="custom-control-label" for="customSwitch10">Valor</label>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 2" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch11">
                        <label class="custom-control-label" for="customSwitch11">Valor</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 3" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch12">
                        <label class="custom-control-label" for="customSwitch12">Valor</label>
                    </div>
                </div>
                <span> <small class="text-muted">No olvides seleccionar la respuesta correcta*</small></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <mat-icon>create</mat-icon> Pregunta 5
          </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control" id="question5" placeholder="Pregunta #5" rows="2"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 1" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch13">
                            <label class="custom-control-label" for="customSwitch13">Valor</label>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 2" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch14">
                        <label class="custom-control-label" for="customSwitch14">Valor</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Respuesta 3" aria-describedby="basic-addon2">
                    <div class="input-group-append custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch15">
                        <label class="custom-control-label" for="customSwitch15">Valor</label>
                    </div>
                </div>
                <span> <small class="text-muted">No olvides seleccionar la respuesta correcta*</small></span>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="mx-auto" style="width: 80%;">
    <button type="button" class="btn save btn-secondary">Guardar</button>
</div>