<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nombre</h2>
            <h4>correo@gmail.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
        <div class="header">
            <h2>Operadores:</h2>
            <h4>2</h4>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Menú</h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['posts']">
        <mat-icon>supervised_user_circle</mat-icon>
        Operadores
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['dashboard']">
        <mat-icon>timeline</mat-icon>
        Ver Resultados
    </a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['questions']">
        <mat-icon>subject</mat-icon>
        Crear Cuestionario
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>