<div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img height="200px" src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Operador1</h5>
                <p class="card-text">Lou</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Habilitar</a>

                <a href="#" class="card-link">Editar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img height="200px" src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Operador2</h5>
                <p class="card-text">La mejor</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Habilitar</a>

                <a href="#" class="card-link">Editar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img height="200px" src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Operador3</h5>
                <p class="card-text">Del mundo</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Habilitar</a>

                <a href="#" class="card-link">Editar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img height="200px" src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Operador3</h5>
                <p class="card-text">Ok?</p>
            </div>
            <div class="card-body">
                <a href="#" class="card-link">Habilitar</a>

                <a href="#" class="card-link">Editar</a>
            </div>
        </div>
    </div>
</div>